<footer class="footer bg-light text-center text-lg-start">

  <div class="footer_box">
    <div class="top_box">
      <div class="logo">
        <img src="/img/logo.png" alt="logo" srcset="">
        <p>Skilling to Empower</p>
      </div>
      <div class="text">
        <p>"Empowering individuals with the skills to thrive in a changing world. <br>
          UNIVOC Skilling to Empower bridges talent and opportunity, driving innovation and growth for a brighter future."
        </p>
      </div>
      
    </div>
    
  <div class="container p-2" style="margin: 20px;">
    <div class="row justify-content-around">
      <!-- Column 1 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 connect_section">
        <h5 >About Us</h5>
        <h5 >Careers</h5>
        <a href="#!" class="link"> <i class="fa-solid fa-location-dot"></i> Address</a>
        <br>
        <a href="mailto:hrd@theunivoc.com" class="link"> <i class="fa-regular fa-envelope"></i> hrd@theunivoc.com</a>
        <br>
      </div>
      <!-- Column 2 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 connect_section">
        <h5>Academics</h5>
        <a href="#!" class="link">Programme</a>
      </div>
      <!-- Column 3 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 connect_section">
        <h5>Innovation</h5>
        <a href="#!" class="link">Student</a><br>
        <a href="#!" class="link">Faculty</a>
      </div>
      <!-- Column 4 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 connect_section">
        <h5>Other Links</h5>
        <a href="#!" class="link">Jobs</a> <br>
        <a href="#!" class="link">Become A Teacher</a>
        <a href="#!" class="link">Jobs</a> <br>
        <a href="#!" class="link">Events</a>
      </div>
    </div>
  </div>

  <div class="social_link">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-youtube"></i>
</div>

  <hr style="border: 1px solid white;">

<div class="extra">
  <br>
  <br><br><br>
</div>
</div>

</footer>