<div class="header">
  <div class="logo_head">
    <img src="/img/logo.png" alt="logo" srcset="">
  </div>
  <div class="dropdown custom-dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Explore
    </a>

    <ul class="dropdown-menu ">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <!-- search bar right align -->
  <div class="search_box">
    <div class="search">
      <form action="#">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search Courses" name="search">
        <button>
          <i class="fa-regular fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="button-container">
    <!-- SIGNUP OPTIONS -->
    <button class="signin"> Sign in </button>
    <!-- Register Button -->
    <button class="register"> Register for free </button>
  </div>
</div>