<div class="wrapper">
    <!-- Level ONE -->
    <div class="background">
        <img src="/img/image-man.png" alt="man-img" class="man-img">
        <div class="box-alpha">
            <div class="link-heading">
                <a href="#" class="link">Home</a>
                <a href="#" class="link">Integrated Degree Programs</a>
                <a href="#" class="link">Full Stack MERN Development</a>
            </div>
            <hr class="link-heading-le">
            <h1 class="head-tit">Full Stack MERN Development</h1>
            <div class="star-rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="rating-text">(4.5)</span>
            </div>
        </div>
    </div>
    <!-- Level TWO -->
    <div class="betaData">
        <div class="Card">
            <div class="card-body">
                <h1 class="card-title">About the Program</h1>
                <hr>
                <p class="card-text">The Full Stack MERN course offers a comprehensive learning experience in web
                    development, covering the MongoDB, Express.js, React, and Node.js stack. Students will learn to
                    build dynamic, scalable, and responsive web applications, mastering front-end development with React
                    and back-end development using Node.js and Express. The course includes database management with
                    MongoDB, API development, authentication, and integration of third-party services. Emphasis is
                    placed on practical skills, with hands-on projects to reinforce learning. By the end of the course,
                    students will be equipped to develop fullstack applications from scratch, ready for real-world
                    challenges in modern web development.</p>
            </div>
            <!-- Form -->
            <div class="form">
                <h4>Courses</h4>
                <hr style="color: black;">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">Technical Skills</button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">Functional skills</button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">Behavioural skills</button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="card cardBox">
            <img src="/img/cardimg.png" class="card-img-top" alt="...">
            <div class="card-body card-sty">
                <a href="#" class="btn btn-primary buttonStartLear">Start Learning</a>
                <br><br>
                <div class="info">
                    <h3>Duration</h3>
                    <h3>45hrs</h3>
                </div>
                <hr>
                <div class="info">
                    <h3>Language</h3>
                    <h3>English</h3>
                </div>
                <hr>
                <div class="info">
                    <h3>Total Credits</h3>
                    <h3>30</h3>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <!-- Level THREE -->
    <div class="benefits-section">
        <h1>Benefits</h1>
        <hr>
    </div>
    
    <div class="container swiper">
        <div class="slider-wrapper">
          <div class="card-list swiper-wrapper">
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Placement Facilitation</h2>
              <p class="user-profession">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, doloremque!</p>
              <button class="message-button">view</button>
            </div>
    
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Blended Delivery</h2>
              <p class="user-profession">The Full Stack MERN course provides
                flexible online and in-person learning,
                blending self-paced modules, live
                instructor sessions, and hands-on
                projects. This approach ensures
                personalized guidance, enhanced
                engagement, and a comprehensive
                understanding of full-stack
                development</p>
              <button class="message-button">view</button>
            </div>
    
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Value Additions</h2>
              <p class="user-profession">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia.</p>
              <button class="message-button">view</button>
            </div>
    
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Web Development</h2>
              <p class="user-profession">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, animi?</p>
              <button class="message-button">View</button>
            </div>
    
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Front End Development</h2>
              <p class="user-profession">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, aspernatur!</p>
              <button class="message-button">view</button>
            </div>
    
            <div class="card-item swiper-slide">
              <img decoding="async" src="/img/FrameA.png" alt="User Image" class="user-image">
              <h2 class="user-name">Backend Development</h2>
              <p class="user-profession">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, perferendis?</p>
              <button class="message-button">view</button>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
          <div class="swiper-slide-button swiper-button-prev"></div>
          <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>

    <!-- Level FIVE -->
    <div class="levelFive">
        <div class="job-roles-section">
            <h1>Job Roles</h1>
            <hr>
            <div class="job-roles-columns">
                <ul class="job-roles-list">
                    <li>Full Stack Developer</li>
                    <li>Front-End Developer</li>
                    <li>Back-End Developer</li>
                    <li>MERN Stack Developer</li>
                    <li>JavaScript Developer</li>
                </ul>
                <ul class="job-roles-list">
                    <li>Web Application Developer</li>
                    <li>UI/UX Developer</li>
                    <li>Database Administrator</li>
                    <li>Node.js Developer</li>
                </ul>
            </div>
        </div>
        
        <div class="related-courses-section">
            <h1>Related Courses</h1>
            <hr>
            <div class="cardImg">
                <img src="/img/First1.png" alt="Full Stack MEAN Development" srcset="">
                <div class="course-info">
                    <p class="course-title">Full Stack MEAN Development</p>
                    <p class="course-rating"><span class="stars">★★★★☆</span></p>
                </div>
            </div>
            <div class="cardImg">
                <img src="/img/Second.png" alt="Full Stack MEAN Development" srcset="">
                <div class="course-info">
                    <p class="course-title">Dot Net Full Stack</p>
                    <p class="course-rating"><span class="stars">★★★★☆</span></p>
                </div>
            </div><div class="cardImg">
                <img src="/img/Third.png" alt="Full Stack MEAN Development" srcset="">
                <div class="course-info">
                    <p class="course-title">Java Full Stack Web</p>
                    <p class="course-rating"><span class="stars">★★★★☆</span></p>
                </div>
            </div>
        </div>
        
        

    </div>


</div>
 <!-- SwiperJS Script Link -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
 <!-- Custom JS Script Link -->
 <script src="index.js"></script>